/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image); /* Фоновое изображение страницы */
  background-color: var(--bg-color);
  background-position: center; /* Центрируем изображение */
  background-size: cover; /* Делаем так, чтобы изображение покрывало весь элемент */
  background-repeat: no-repeat; /* Убираем повторение изображения */
  background-attachment: fixed; /* Чтобы фон оставался на месте при прокрутке страницы. */
  font-family: var(--font-text);
  font-size: var(--font-size);
  font-weight: var(--font-norm);
  line-height: var(--text-height);
}

.main {
  background-color: var(--bg-color); /* Фоновый цвет, который будет совпадать с основным тоном фонового изображения страницы. */
}

.header {
  min-height: 668px;
  height: 100vh;
  display: grid;
  position: relative;
  grid-template-rows: 1fr 2fr 1.1fr;
}

.decorative-corners::after,
.decorative-corners::before {
  content: "";
  position: absolute;
  width: 25px; /* Ширина элемента */
  height: 25px; /* Высота элемента */
  background-color: transparent;
}

.decorative-corners::before {
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--text-accent);
  border-left: 1px solid var(--text-accent); 
}

.decorative-corners::after {
  right: 20px;
  top: 20px;
  border-right: 1px solid var(--text-accent);
  border-top: 1px solid var(--text-accent); 
}

.header__theme-menu-list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--text-accent);
  font-weight: var(--font-norm);
  padding: 0 13px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--shadow-border);
}

.header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: 1px solid var(--text-accent);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--text-accent);
  pointer-events: none;
}

.text-cover {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;
  color: var(--cover-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  font-weight: var(--font-bold);
  justify-self: flex-start;
  height: max-content;
  align-self: center;
  margin-top: 20px;
}

.text-container {
  background-color: var(--text-bg-block-color);
  max-width: 491px;
  height: max-content;
  justify-self: end;
  margin-right: 20px;
}

.text-title {
  font-size: var(--font-size);
  font-weight: var(--font-bold);
  color: var(--text-block-color);
}

.the-recording {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  top: 20px;
  right: 29px;
}

.the-recording::after{
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: var(--text-bg-block-color);
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--text-bg-block-color);
}

.recording {
  text-transform: uppercase;
  color: var(--shadow-color);
  line-height: 25px;
}


/* Стилизация секции why-hard */

.content-section {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  padding: 60px 20px 20px;
  gap: 20px;
}

.section-title {
  font-size: var(--font-size);
  font-weight: var(--font-bold);
  color: var(--text-accent);
}

.content-title {
  font-size: var(--font-size);
  font-weight: var(--font-bold);
  color: var(--text-block-color);
  background-color: var(--text-bg-block-color);
  margin-bottom: 10px;
}

.reset {
  font-weight: var(--font-norm);
}

.content-description {
  color: var(--text-desc);
}

.linker {
  text-shadow: 2px 2px 0 var(--shadow-color); 
  text-decoration: none;
}

.linker:hover {
  border-bottom: 1px solid var(--text-desc);
}

.linker:focus-visible {
  border: 1px solid var(--text-desc);
  outline: none;
}


.functionary {
  grid-column: 2 / 4;
}

.dopamine {
  grid-column: 2 / 4;
}

/* Стилизация для секции Reduce-Concentration */

.what-reduce {
  grid-column: 1 / 2;
}

.how-function {
  grid-column: 1 / 2;
}

.food {
  grid-column: 2 / 3;
}

.device {
  grid-column: 3 / 4;
}

/* Стилизация для секции Concentration-Better */

.reduce-better {
  grid-column: 1 / 2;
  grid-row: 1 / 7;
}

.conc-card {
  grid-column: 2 / 4;
}

.five-rules {
  grid-column: 2 / 4;
  margin: 0;
}


/* Стилизация для секции Gallery-Pictures */

.gallery-pictures {
  padding-bottom: 60px;
}

.maybe-pictures {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: var(--text-bg-block-color);
  color: var(--text-block-color);
}

.sunset {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.tape {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.books {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.ice-cream {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.street {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

.gallery-pictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Стилизация для секции Footer */

.footer {
  position: relative;
  background-color: var(--bg-color);
  display: flex;
  height: 100vh;
  justify-content: center;
}

.footer-cover {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  line-height: 83%;
  color: var(--cover-color);
  text-shadow: 2px 2px 0 var(--shadow-color);
  font-weight: var(--font-bold);
  justify-self: flex-start;
  height: max-content;
  align-self: center;
}

@media (width < 1024px) {
  .header {
    grid-template-rows: 1fr 1.4fr 1fr;
  }

  .header__theme-menu {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  .text-cover {
    margin: 0;
  }

  .text-container {
    max-width: 364px;
  }

  .multi-function {
    column-gap: 40px;
  }

  .how-function {
    grid-column: 1 / -1;
  }

  .food {
    grid-column: 1 / -1;
  }

  .device {
    grid-column: 1 / -1;
  }

  .five-rules {
    margin-left: 6px;
  }
  
  .conc-card {
    margin-left: 6px;
  }
  .concentration-better {
    column-gap: 20px;
  }

  .footer {
    min-height: 1024px;
  }

} 

@media (width < 768px) {
  .header {
    grid-template-rows: 1fr 1.4fr 1fr;
  }

  .decorative-corners::after {
    right: 10px;
    top: 10px;
  }

  .decorative-corners::before {
    left: 10px;
    bottom: 10px;
  }

  .content-section {
    padding: 40px 10px 10px;
  }

  .header__theme-menu {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10px;
    margin-bottom: 25px;
  }

  .text-cover {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-left: 10px;
  }

  .text-container {
    margin: 10px 10px 0;
  }

  .text-title {
    max-width: 355px;
  }

  .title-hard {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .functionary {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .dopamine {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .the-recording {
    right: 19px;
    top: 10px;
  }

  .what-reduce {
  grid-column: 1 / 4;
  }

  .reduce-better {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .five-rules {
    grid-column: 1 / 4;
    margin: 0;
  }

  .conc-card {
    grid-column: 1 / 4;
    margin: 0;
  }

  .sky-cloud {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .music-online {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }

  .walking {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }

  .enjoy-meal {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
  }

  .reading {
    grid-column: 1 / -1;
    grid-row: 7 / 8;
  }

  .gallery-pictures {
    grid-template-columns: 1fr;
    gap: 10px;
    padding-top: 37px;
    padding-bottom: 40px;
  }

  .maybe-pictures {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .sunset {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  .tape {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
  }

  .books {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }

  .ice-cream {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  .street {
    grid-column: 1 / -1;
    grid-row: 6 / 7;
  }

  .footer {
    min-height: 667px;
  }

  .footer-cover {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
