/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color); /* Фоновый цвет, который будет совпадать с основным тоном фонового изображения страницы. */
  background-image: var(--bg-image); /* Фоновое изображение страницы */
  background-position: center; /* Центрируем изображение */
  background-size: cover; /* Делаем так, чтобы изображение покрывало весь элемент */
  background-repeat: no-repeat; /* Убираем повторение изображения */
  background-attachment: fixed; /* Чтобы фон оставался на месте при прокрутке страницы. */
}

.header {
  height: 100vh;
  min-height: 768px;
  display: grid;
}

.text-cover {
  font-size: 157px;
  font-weight: bold;
  line-height: 83%;
}

.text-container {

}
